<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>
    
    <%- include('./partials/nav.ejs') %>
    
    <div class="blogs content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione, molestiae ut. Ducimus aperiam quam natus sunt, laudantium omnis adipisci debitis pariatur quidem? Non, quae quasi? Consectetur voluptate quaerat aliquam consequuntur.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis debitis placeat fugit nostrum iste sint earum ea dicta magni, adipisci id iusto libero quas, dolores sunt necessitatibus atque. Sint, mollitia?</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt vero ipsam, quas eos quisquam aperiam mollitia aut rerum odio nisi nulla numquam blanditiis fugit rem culpa vel commodi illum tempora.</p>
    </div>


    <%- include('./partials/footer.ejs') %>
</body>
</html>